<tr>
  <td><%= link_to product.name, product_path(product) %></td>
  <td><%= product.price %></td>
  <td><% if product.seller %>
  	  <%= link_to product.seller.name, seller_path(product.seller) %>
  	  <% end %>
  </td>
   <td><% if product.category %>
      <%= link_to product.category.name, category_path(product.category) %>
      <% end %>
  </td>
  <td><%= product.created_at.strftime("%F") %></td>
  <td>
    <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-sm btn-primary' %>
    <%= link_to 'Delete', product_path(product), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-sm btn-danger' %>
  </td>
</tr>
